.gnbBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;

  padding: 50px 0;
  color: #222;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
}
.logo {
  font-size: 24px;
  margin-right: auto;
  margin-left: 110px;
}
.logo a {
  font-size: 24px;
  color: inherit;
  &:hover {
    color: #7fbf36;
  }
}
.gnb {
  display: flex;
  margin-right: 177px;
}

.gnbList {
  margin-left: 136px;
  font-size: 20px;
  &:hover {
    color: #7fbf36;
  }
}
