/*서체*/

$pretendard: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
  "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$DM: Georgia, "Times New Roman", Times, serif;

//border
$borderBasic: 1px solid #000;
